*, *:before, *:after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
}

body {
    background-color: lavender;
    color: darkcyan;
    display: flex;
}

#left {
    width: 50%;
    display: flex;
}

#left-container {
    padding-left: 30px;
    width: 100%;
}

header {
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
}

h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 60px;
    margin: 60px 0 0 0;
    padding-right: 25px;
}

header img {
    align-self: flex-start;
    width: 150px;
    height: auto;
    border: 2px solid darkcyan;
    /* margin-left: 30px; */
    border-radius: 10px;
    margin-right: 30px;
}

#left p {
    font-size: 30px;
    width: 450px;
    /* margin-left: 30px; */
    line-height: 1.2;
    font-family: 'Josefin Slab', serif;
}

#bio {
    margin-bottom: 50px;
}

#bio span {
    color: blue;
}

#left #contact p {
    font-size: 25px;
    font-family: 'Josefin Slab', serif;
    line-height: 2;
}

#left #contact p a {
    font-weight: normal;
    text-decoration: none;
    border-bottom: 1px solid darkcyan;
}

#projects-link {
    display: none;
    margin-bottom: 45px;
}

#projects-link a {
    color: blue;
    background-color: white;
    text-decoration: none;
    border: 1px solid blue;
    padding: 5px;
    border-radius: 5px;
}

#right {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: blue;
}

h2 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 53px;
    margin: 100px 0 30px 0;
    align-self: center;
}

#right div {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#right p {
    font-size: 25px;
    font-family: 'Josefin Slab', serif;
    line-height: 1.2;
    max-width: 400px;
}

a {
    color: darkcyan;
    font-weight: bold;
}

#right img {
    width: 400px;
    height: auto;
    border: 5px solid blue;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
}

i.fab,
i.fas {
    margin-right: 10px;
}

@media only screen and (max-width: 1020px) {
    body {
        flex-direction: column;
    }
    #projects-link {
        display: inline-block;
        max-width: 50%;
    }
    #left,
    #right {
        width: 100%;
    }
    #right {
        align-items: center;
    }
    #left {
        justify-content: center;
    }
}

@media only screen and (max-width: 515px) {
    h1 {
        font-size: 50px;
        margin-top: 30px;
    }
    #left p#bio {
        font-size: 25px;
    }
    #left #projects-link {
        font-size: 23px;
    }
    #left #contact p {
        font-size: 23px;
    }
    #bio {
        max-width: 90%;
    }
    header {
        flex-direction: column;
    }
    header img {
        margin-top: 15px;
    }
    #right img {
        width: 300px;
    }
    h2 {
        font-size: 45px;
    }
    #right p {
        font-size: 23px;
        max-width: 80%;
    }
}

@media only screen and (max-width: 468px) {
    #left-container {
        padding-left: 15px;
    }
    #contact i {
        display: none;
    }
}