body {
    background-color: lavender;
    color: teal;
    display: flex;
}

div#left {
    width: 50%;
}

header {
    margin-top: 30px;
    display: flex;
    /* justify-content: center; */
    height: 300px;
}

h1 {
    font-family: 'Fredericka the Great', serif;
    font-size: 60px;
    margin: 60px 0 30px 30px;
    vertical-align: middle;
}

header img {
    align-self: flex-start;
    width: 150px;
    height: auto;
    border: 2px solid teal;
    margin-left: 30px;
    border-radius: 10px;
}

div#left p {
    font-size: 25px;
    width: 450px;
    margin-left: 30px;
    line-height: 1.2;
    font-family: 'Oswald', sans-serif;
}

div#right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    color: blue;
}

h2 {
    font-family: 'Fredericka the Great', serif;
    font-size: 50px;
    margin: 100px 0 30px 0;
}

div#right div {
    margin-top: 20px;
    margin-bottom: 30px;
}

div#right p {
    font-size: 20px;
    font-family: Verdana;
    line-height: 1.2;
}

a {
    color: teal;
    font-weight: bold;
}

div#right img {
    width: 300px;
    height: auto;
    border: 2px solid blue;
    border-radius: 10px;
}