*, *:before, *:after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
}

body {
    background-color: lavender;
    color: #00a6a6;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: 'Josefin Slab', serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #00a6a6;
}

#name {
    display: flex;
    align-items: center;
}

#name img {
    align-self: flex-start;
    width: 100px;
    height: auto;
    border: 2px solid #00a6a6;
    border-radius: 10px;
    margin-right: 30px;
}

h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 60px;
    color: blue;
}

h2 {
    font-size: 35px;
    align-self: center;
    margin-top: 10px;
}

nav {
    display: flex;
    flex-flow: row wrap;
}

nav span a {
    font-size: 28px;
    padding: 6px;
    text-decoration: none;
    border: 1px solid blue;
    color: #00a6a6;
    margin: 10px;
    border-radius: 20px;
    background-color: whitesmoke;
}

nav span a:hover {
    color: blue;
}

h3 {
    color: #00a6a6;
    font-family: 'Fredericka the Great', cursive;
    font-size: 50px;
    text-align: center;
    padding: 30px 0 40px 0;
}

#project-descriptions {
    display: flex;
    flex-flow: row wrap;
}

.description {
    width: 50%;
    padding: 10px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description img {
    width: 500px;
    height: 300px;
    border: 5px solid blue;
    border-radius: 10px;
    margin-bottom: 20px;
}

.description p {
    line-height: 1.2;
    font-size: 25px;
    max-width: 500px;
}

.description a {
    color: blue;
}

.description span {
    font-size: 22px;
}

.description span a {
    color: #00a6a6;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #00a6a6;
    border-bottom: 1px solid #00a6a6;
}

#about p {
    line-height: 1.3;
    font-size: 25px;
    max-width: 900px;
    margin-bottom: 30px;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact h3 {
    padding-bottom: 15px;
}

i.fab,
i.fas {
    margin-right: 10px;
}

#contact p {
    font-size: 25px;
    padding-top: 25px;
}

#contact {
    margin-bottom: 30px;
}

#contact p a {
    font-weight: normal;
    text-decoration: none;
    border-bottom: 1px solid #00a6a6;
    color: #00a6a6;
}

@media only screen and (max-width: 1098px) {
    .description {
        width: 100%;
    }
    header {
        flex-direction: column;
        justify-content: flex-start;
    }
    nav {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 980px) {
    #about {
        padding: 20px;
    }
}

@media only screen and (max-width: 657px) {
    #about p {
        font-size: 22px;
    }
    #contact p {
        font-size: 22px;
    }
}

@media only screen and (max-width: 541px) {
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 30px;
    }
    #name img {
        width: 80px;
    }
    nav span a {
        font-size: 20px;
    }
    .description img {
        width: 350px;
        height: 208px;
    }
    .description p {
        font-size: 22px;
    }
    .description span {
        font-size: 19px;
    }
    #about {
        padding: 10px;
    }
}

@media only screen and (max-width: 390px) {
    nav span a {
        margin: 5px;
    }
    .description img {
        width: 260px;
        height: 154px;
    }
    .description p {
        font-size: 20px;
    }
    #contact p {
        font-size: 20px;
    }
    i.fab,
    i.fas {
        display: none;
    }

}
